.Contact {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
  margin-top: 29px;
}
.ContactDetail {
  display: flex;
  justify-content: flex-start;
}

.UserImg img {
  width: 45px;
  margin-right: 10px;
}

.ContactInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.ContactInfo span {
  font-size: 18px;
}

.ContactInfo h3 {
  font-size: 20px;
}
.greyLine::before {
  position: absolute;
  background-color: rgb(220, 220, 220);
  width: 100%;
  height: 1px;
  content: "";
  font-weight: bold;
  left: 0;
  top: -15px;
}

.greyLine::after {
  position: absolute;
  background-color: rgb(220, 220, 220);
  width: 100%;
  height: 1px;
  content: "";
  left: 0;
  font-weight: bold;
  bottom: -15px;
}
.trash {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  font-size: 29px;
  cursor: pointer;
  color: red;
  margin-left: 15px;
}
.editbtn {
  cursor: pointer;
  font-size: 27px;
  margin-top: 5px;
}
